.container {
  display:flex;
  flex-direction:column;
  align-items: center;
}

body {
  background-color: #FFF;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: Georgia;
  text-align: center;
  letter-spacing: 5px;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #3E5C76;
  padding: 0;
}
ul.header li a {
  color: #748CAB;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
    background-color: #F0EBD8;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3E5C76;
  color: #748CAB;
  text-align: center;
}




  .debutphoto {
    display: flex;
    align-items: flex-start;
    float: right;
    text-align: left;
  }

  img {
    width: 400px;
    height: 400px;
    float: right;
    margin-bottom: 50pt;
    border-radius: 2%;
    

    
  }
  